*{
    margin: 0%;
    padding: 0%;
    max-width: 100%;
    font-family: "Open Sans", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
 }
.barre{
    position: fixed;
    width: 100%;
    
}
.navbar{
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center; 
    width: 100%;
    background-color: white;
    height: 80px;
    
    /*border: 1px rgb(126, 124, 124) solid;*/
} 
.Nitro{
    padding-left: 15.5%;
    color: #007bff;
    font-size: 205%;
}
.arrow{
    writing-mode: vertical-rl;
    glyph-orientation-vertical:-90 ;
    justify-content: center;
    max-width: 200%;
    width: auto;
   } 
.menu{
    font-size: 105%;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-right:  18%;
    width: 42%; 
}
.navbar{
    justify-content: space-between;
    }
.menu > a {
    cursor: pointer;
    }
.ABTUS > a {
        cursor: pointer;
        }
.Home:hover{
    color: #007bff;
}
.ABTUS:hover{
    color: #007bff;
}
.Portfolio:hover{
    color: #007bff;
}
.Services:hover{
    color: #007bff;
}
.Testemonials:hover{
    color: #007bff;
}
.Blog:hover{
    color: #007bff;
}
.Contact:hover{
    color: #007bff;
}
.Homesection{
width: 100%;
height: 100vh;

}
.Homesection{
    background-image: url("website-images/hero_2.jpg");
    background-size: 100%;
    background-position: -10%;  
}
.Homesectionboxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40vh;       
}
 .Homesectionboxes h1{
    font-size: 300%;
    color: white;
}
.Homesectionboxes p{
    font-size: 140%;
    color: white;
    font-family: sans-serif;
}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;   
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1
}
  .ABTUS:hover .dropdown-content {
    display: block;
  }
.GetInTouch{
    height: 48px;
    width: 160px;
    background-color: #007bff;
    border-radius:30px;
    border: none;
    margin-top: 8vh ;
    margin-left: -2%;  
    color: white;
    font-size: 115%;
}  
.GetInTouch:hover{
    background-color: #000000;
}

.sectionaboutus{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    
    background-color: white;
    justify-content: space-between;
    

}
.AboutUs{
    margin-top: 4%;
    font-size: 250%;
    color:#007bff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.lady{
max-width: 34%;
margin-left: 16%;
margin-top: 4%;
}
.pictext{
    display: flex;
    flex-direction: row;
    max-width: 100%;

    position: absolute;
    margin-top: 8%;    
}

.text{
    margin-left:7%;
    margin-top: 4%;
    
}

.text h1{
    font-size: 150%;
    width: 150%;
    
}
p.big {
    line-height: 1.2;
    margin-top: 8%;
  }

  .texicone {
    line-height: 1.6;
    margin-top: 5%;
    margin-right: 25%;
  }
  .oksignpic{
    display: flex;
    flex-direction: column;
  }
  .para::before{
    content: url(./website-images/ok.png);
    margin-right: 5%; 
   max-width: 2%;
   height: auto;
  }
.ourfeatures {
    margin-bottom: 12%;
   margin-top: 41%;
    max-width: 100%;
      text-align: center ;
}    
.ourfeatures h2{
    
    margin-bottom: 2%;
    font-size: 250%;
    color:#007bff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   
}
.ourfeatures p{
text-align: center;
font-size: 120%;
}
.slidesec{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 15%;
    margin-top:-8% ;
    width: 190%;
  
}

/*slide stuff*/
.mySlides {
    display: none;
    width: 20%;

}
.mySlidest h1{
    font-size: 250%;
    line-height: 120%;
    color:#007bff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   

}
.textcontent{
    width: 80%;
    margin-left: -3%;
}
.texicone{
margin-top: 1%;
line-height: 0.8;
}
p.bigg{
    margin-top: 1%;
    font-size: 120%;
}
.Learnmore{
    height: 48px;
    width: 140px;
    background-color: #007bff;
    border-radius:30px;
    border: none;
    margin-top: 1%;   
    color: white;
    font-size: 115%;
}  
.ouurteam h2{
    text-align: center;
    margin-bottom: 2%;
    font-size: 250%;
    color:#007bff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   
}
.ouurteam p{
text-align: center;
font-size: 120%;
}
.globalcontainer{
  
    margin-top: 4%;
    width: 100%;
    
}
.container1{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
   
}


.perso{
    width:85%;
}
.container2{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    
}
.Portfolio{
    
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-items: center;
  
}

.Portfolioheader h2{
    text-align: center;
   margin-top: 80%;
    font-size: 250%;
    color:#007bff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif   
}
.portfoliobtns{
    display: flex;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 2%;
   
}
.All{
 
    height: 40px;
    width: 60px;
    background-color: rgba(52, 58, 64, 0.05);
    border-radius:30px;
    border: none; 
    color: #343a40;
    font-size: 90%;
}   
.All:hover{
    background-color: #007bff;
    color: white;
}
.Web{
    height: 40px;
    width: 80px;
    margin-left: 10%;
    background-color: rgba(52, 58, 64, 0.05);
    border-radius:30px;
    border: none;
    color: #343a40;
    font-size: 90%;
    margin-left:-10%;
}    
.Web:hover{
    background-color: #007bff;
    color: white;}
.Design{
    height: 40px;
    width: 80px;
    background-color:rgba(52, 58, 64, 0.05);
    border-radius:30px;
    border: none;
    color: #343a40;
    font-size: 90%;
}    
.Design:hover{
    background-color: #007bff;
    color: white;
}
.Brand{
    height: 40px;
    width: 80px;
    background-color: rgba(52, 58, 64, 0.05);
    border-radius:30px;
    border: none; 
    color: #343a40;
    font-size: 90%;
}  
.Brand:hover{
    background-color: #007bff;
    color: white;
}

.globalPORTcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 85%;
    margin-top: 2.5%;
    margin-left: 4%;
    
}
.Portcontainer1{
    
    display: flex;
    flex-direction: column;
}
.Portcontainer2{
    display: flex;
    flex-direction: column;
}
.Portcontainer3{
    display: flex;
    flex-direction: column;
}
.Portcontainer4{
    display: flex;
    flex-direction: column;
}
.PORT{
    max-width: 85%;
    margin-bottom: 6%;
}